#app-root {
  margin: 5px;

  h2 {
    margin: 0 -5px;
    padding: 5px 5px;
    border-bottom: solid 1px #eee;
  }

  form {
    margin: 5px;

    th {
      padding: 5px;
    }
  }

  .backend {
    padding: 5px;
  }
}
